<ion-header *ngIf="globalVar.connection.value == true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="globalVar.connection.value == true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="caret-down" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  
  <ion-list *ngIf="notificationList.length > 0">
    <ion-card *ngFor="let notification of notificationList; let i=index;">
      <ion-card-header class="ion-no-padding" *ngIf="notification.notification_image">
        <ion-img [src]="globalVar.notificationImgUrl + notification.notification_image"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>{{notification?.notification_title}}</ion-card-subtitle>
        <p class="ion-no-margin">{{notification?.notification_text}}</p>
        <p class="notifi-date ion-no-margin">{{notification?.notification_date | date: 'dd MMM yyyy'}} <ion-text color="primary"> | </ion-text>
          {{notification?.notification_date | date: 'hh:mm'}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <div class="no-record" *ngIf="notificationList.length <= 0 && isLoading == false">
    <ion-img src="assets/images/no_record.svg"></ion-img>
  </div>
</ion-content>

<!-- ========================== Network connection lost ========================== -->
<app-network-connection *ngIf="globalVar.connection.value == false" [title_text]="title"></app-network-connection>
<!-- =========================================================================== -->