ion-content {
    --background: var(--default-light);
}

ion-card-subtitle {
    font-size: 14px;
    color: var(--ion-color-primary);
}

ion-card {
    margin: 15px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #bbbbbb;
    border-radius: 7px;
}

.notifi-date {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: #909090;
}

ion-card-content {
    padding-inline-start: 16px;
    padding-top: 16px;
    border-top: 1px solid #e0e0e0;
}