ion-toolbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);

    /* ion-title {
        color: var(--ion-color-primary);
    } */
}

.setting-container {
    height: 100%;
    background: white;

}

.setting-header {
    // border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    font-weight: 600;
    --padding-start: 0px;
}

.last-setting {
    border-bottom: none;
}

.active-header {
    font-weight: 600;
    color: Var(--ion-color-primary)
}

.inactive-header {
    font-weight : 500;
}

ion-footer {
    background: white;
}


.setting-footer {
    height: 100%;
    background: white;
    padding: 32px 16px;
}

.website-link {
    display: flex;
    padding: 10px;
    height: 100%;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 6px;
  }