.title {
    color: #282828;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
}

.subscribe-btn {
    min-height: 44px !important;
    padding-top: 10px;
}