<ion-header>
  <ion-toolbar>
    <!-- <div class="ion-padding-start title">Please enter your details to access the Directory.</div> -->
    <div class="ion-padding-start title">Subscribe for Regular Updates</div>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()" color="dark">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-label position="stacked" class="required" color="medium">Name</ion-label>
    <ion-item fill="outline" mode="md" lines="none" class="feedback-field form-container">
      <!-- <ion-label position="floating" color="medium" class="required">Name</ion-label> -->
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-label position="stacked" class="required" color="medium">Mobile Number</ion-label>
    <ion-item fill="outline" mode="md" lines="none" class="feedback-field form-container">
      <!-- <ion-label position="floating" color="medium" class="required">Mobile Number</ion-label> -->
      <ion-input type="tel" [(ngModel)]="phone" maxlength="10"></ion-input>
    </ion-item>

    <ion-label position="stacked" class="required" color="medium">Email</ion-label>
    <ion-item fill="outline" mode="md" lines="none" class="feedback-field form-container">
      <!-- <ion-label position="floating" color="medium" class="required">Email</ion-label> -->
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button expand="block" class="subscribe-btn" [disabled]="!name || !phone || !email" (click)="fnSubscribe()">Submit</ion-button>
  </div>
</ion-content>