<ion-header *ngIf="globalVar.connection.value == true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="globalVar.connection.value == true">
  <div>
    <ion-card>
      <ion-card-header>
        <div *ngIf="globalVar.subscribeData">
            <ion-radio-group mode="md" [(ngModel)]="feedback_type" value="general">
              <ion-row>
                <ion-col>
                  <ion-radio value="general" labelPlacement="end">General feedback</ion-radio>
              </ion-col>
              <ion-col>
                <ion-radio value="delete_account" labelPlacement="end">Delete my account</ion-radio>
              </ion-col>
              </ion-row>
            </ion-radio-group>
        </div>
       <div class="subtitle">
        <p class="subtitle-feedback">Share your feedback to help us improve the app</p> 
       </div>
      </ion-card-header>
      <ion-card-content>
        <ion-label position="stacked" class="required">Name</ion-label>
        <ion-item fill="outline" mode="md" lines="none" class="feedback-field">
          <!-- [disabled]="feedback_type == 'delete_account' ? true : false" -->
          <ion-input type="text" [(ngModel)]="name" ></ion-input>
        </ion-item>

        <ion-label position="stacked" class="required">Phone number</ion-label>
        <ion-item fill="outline" mode="md" lines="none" class="feedback-field">
          <!-- [disabled]="feedback_type == 'delete_account' ? true : false" -->
          <ion-input type="tel" [(ngModel)]="phone" maxlength="10" ></ion-input>
        </ion-item>

        <ion-label position="stacked" class="required">Email address</ion-label>
        <ion-item fill="outline" mode="md" lines="none" class="feedback-field">
          <!-- [disabled]="feedback_type == 'delete_account' ? true : false" -->
          <ion-input type="text" [(ngModel)]="email" ></ion-input>
        </ion-item>

        <div  *ngIf="feedback_type == 'general'">
          <ion-label position="stacked" class="required">Feedback</ion-label>
          <ion-item fill="outline" mode="md" lines="none" class="feedback-field">
            <ion-textarea  [(ngModel)]="feedback"></ion-textarea>
          </ion-item>
        </div>

        <div *ngIf="feedback_type == 'delete_account'">
          <ion-label position="stacked" class="required">Reason</ion-label>
          <ion-item fill="outline" mode="md" lines="none" class="feedback-field">
            <ion-textarea  [(ngModel)]="reason"></ion-textarea>
          </ion-item>
        </div>

        <div class="footer-submit">
          <ion-button expand="block" *ngIf="feedback_type == 'general'" (click)="fnSendFeedack()" [disabled]="!name || !phone || !email || !feedback">Submit</ion-button>
          <ion-button expand="block" *ngIf="feedback_type == 'delete_account'" (click)="fnSendFeedack()" [disabled]="!name || !phone || !email || !reason">Submit</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- ========================== Network connection lost ========================== -->
<app-network-connection *ngIf="globalVar.connection.value == false" [title_text]="title"></app-network-connection>
<!-- =========================================================================== -->