<ion-header *ngIf="globalVar.connection.value == true">
  <ion-toolbar>
    <div slot="start" class="logo-img">
      <ion-img src="assets/images/logo.svg"></ion-img>
    </div>

    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button (click)="fnNotification()">
        <ion-icon class="bell-icon" src="assets/images/notifications.svg"></ion-icon>
      </ion-button>
      <ion-button (click)="fnSetting()" class="ion-margin-start">
        <ion-icon class="setting-icon" src="assets/images/menu.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="globalVar.connection.value == true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="caret-down" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>


  <!-- =================== slides ==================== -->
  <div class="ion-padding" *ngIf="sliderList.length > 0">
    <swiper-container #swiper pagination="true" loop="true" [config]="config">
      <swiper-slide  *ngFor="let slide of sliderList; let i=index">
        <div class="home-slider">
          <ion-img [src]="globalVar.bannerImgUrl + slide.banner_image"></ion-img>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <!-- ========================================= -->

  <!-- =================== searchbar ==================== -->
  <ion-toolbar class="search-area">
    <!-- placeholder="Search directory" -->
    <ion-searchbar  placeholder="&#xF002; Search directory" style="font-family:kumbhsans, FontAwesome;" class="home-search" clear-icon="assets/images/search.svg"  [(ngModel)]="search_text" (ionInput)="fnonSearch($event)" inputmode=""
    showcancelbutton="" (ionInput)="fnonSearch($event)" (ionCancel)="fnOnCancel()"
    (ionClear)="fnOnCancel()" (keyup.enter)="fnonSearch($event)">
  </ion-searchbar>
  </ion-toolbar>
  <!-- ========================================= -->


  <!-- ==================== categories =========== -->
    <div *ngIf="categoryList.length > 0">
      <ion-accordion-group>
        <!-- toggleIcon="arrow-down-outline" -->
        <ion-accordion [value]="category" *ngFor="let category of categoryList;" >
          <ion-item slot="header" class="ion-no-padding" lines="none" (click)="fnSelectSubcategory(category.cat_id)">
              <ion-thumbnail class="ion-margin-end cat-img">
                <ion-img [src]="globalVar.categoryImgUrl + category.cat_image" ></ion-img>
              </ion-thumbnail>
            <ion-label class="cat-name">{{category.cat_name}}</ion-label>
          </ion-item>
          <div slot="content">
            <div *ngIf="subCategoryList.length > 0 && isLoading == false">
              <!-- detail-icon="arrow-forward-outline" -->
              <ion-item lines="none" class="subcat" detail="true" *ngFor="let sub_cat of subCategoryList;"  (click)="fnSubcategory(sub_cat)">
                <ion-img [src]="globalVar.subcategoryImgUrl + sub_cat.subcat_image" class="subcat-img"></ion-img>
                <ion-label>
                  {{sub_cat.subcat_name}}
                </ion-label>
              </ion-item>
            </div>
  
            <div *ngIf="isLoading == true">
              <ion-item lines="none" class="subcat-loading">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-item>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  <!-- ========================================= -->


  <div class="ion-padding-horizontal ion-padding-top" *ngIf="footerSliderList.length > 0">
    <p class="home-section-info">More to explore</p>
    <div class="footer-slider" *ngIf="footerSliderList.length > 0">
      <!-- autoplay-delay="5000" -->
    <swiper-container class="mySwiper" pagination="true"  pagination-clickable="true" space-between="15"
    slides-per-view="3">
    <swiper-slide *ngFor="let slide of footerSliderList; let i=index" >
      <ion-img [src]="globalVar.bannerImgUrl + slide.banner_image" (click)="fnOpenFooterSlide(slide)"></ion-img>
    </swiper-slide>
  </swiper-container>
    </div>
  </div>

  <div class="ion-padding-horizontal ion-padding-top">
    <p class="home-section-info">Group Websites</p>
    <div>
      <ion-row>
        <ion-col>
          <div class="website-link" (click)="fnRedirectWebsite('parlebazar')">
            <ion-img src="assets/images/splash-footer/logo-new.png"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div class="website-link" (click)="fnRedirectWebsite('parlekar')">
            <ion-img src="assets/images/splash-footer/Parlekar-logo-2.png"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div class="website-link" (click)="fnRedirectWebsite('townparle')">
            <ion-img src="assets/images/splash-footer/townparle.png"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="home-banner" *ngIf="homeFooterList.length > 0">
    <p class="home-section-info">Sponsored Ad</p>
    <div *ngFor="let footer_banner of homeFooterList; let i=index;" class="ion-margin-bottom" (click)="fnOpenAdBanner(footer_banner)">
      <ion-img [src]="globalVar.bannerImgUrl + footer_banner.banner_image"></ion-img>
    </div>
  </div>

</ion-content>



<!-- ========================== Network connection lost ========================== -->
<app-network-connection *ngIf="globalVar.connection.value == false" [title_text]="title"></app-network-connection>
<!-- =========================================================================== -->