
.appointment-field {
    --border-color: #9d9d9d;
    margin-bottom: 12px;
}

ion-card {
    box-shadow: none !important;
    margin-top: 0;
}

.footer-submit {
    margin-top: 43px;
}

.subtitle-feedback {
    margin-top: 0 !important;

}

.subtitle {
    text-align: center;
}

.appointment-time, .appointment-date {
    --padding-start: 8px;
}