.update-subtitle {
    color: #646464;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.update-title {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

ion-content {
    --background: #F2F2F2;
}